{# Section classes #}
{% set section_classes = [
  'tlb-section',
  'tlb-section--full',
  'flex',
  'flex-col',
  'w-full',
  settings.margin == 'top' ? 'mt-4',
  settings.margin == 'bottom' ? 'mb-4',
  settings.margin == 'top_bottom' ? 'my-4',
]
%}

{# Content container classes #}
{% set container_classes = 'grid grid-cols-1 gap-12 w-full' %}
{% if content %}
  <div{{ attributes.addClass(section_classes) }}>
    <div class="{{ container_classes }}">
      {% if content.first %}
        <div {{ region_attributes.first.addClass(region_first_classes, 'flex flex-col gap-4') }}>
          {{ content.first }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
