/* ------------------------------------------------ */
/* General button styles.
/* ------------------------------------------------ */
.layout-builder-form .form-submit {
  font-weight: 700;
  font-size: .875rem;
  -webkit-font-smoothing: antialiased;
}

/* ------------------------------------------------ */
/* Edit submits
/* ------------------------------------------------ */
input[data-drupal-selector="edit-submit"] {
  border: 2px solid var(--success-7);
  background-color: var(--success-3);
  color: var(--success-12);
  border-radius: 0;
}

input[data-drupal-selector="edit-submit"]:hover {
  border: 2px solid var(--success-8);
  background-color: var(--success-4);
}

input[data-drupal-selector="edit-submit"]:active {
  border: 2px solid var(--success-9);
  background-color: var(--success-5);
}

/* ------------------------------------------------ */
/* Discard and revert submits
/* ------------------------------------------------ */
input[data-drupal-selector="edit-discard-changes"],
input[data-drupal-selector="edit-revert"] {
  border: 2px solid var(--gray-7);
  background-color: var(--gray-3);
  color: var(--gray-12);
  border-radius: 0;
}

input[data-drupal-selector="edit-discard-changes"]:hover,
input[data-drupal-selector="edit-revert"]:hover {
  border: 2px solid var(--gray-8);
  background-color: var(--gray-4);
}

input[data-drupal-selector="edit-discard-changes"]:active,
input[data-drupal-selector="edit-revert"]:active {
  border: 2px solid var(--gray-9);
  background-color: var(--gray-5);
}


