/* Contextual links */
.contextual .trigger {
  background-color: var(--gray-3);
  border: 2px solid var(--gray-7) !important;
  color: var(--gray-12);
  background-image: url("../../icons/pencil.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border-radius: 0;
  height: 2.5rem !important;
  padding: 0;
  width: 2.5rem !important;
  overflow: visible;
}

.contextual .trigger.focusable {
  border-radius: 0;
  border-bottom: 0;
}

.contextual .trigger:hover {
  background-image: url("../../icons/pencil.svg");
  background-color: var(--gray-4);
  border: 2px solid var(--gray-8);
}

.contextual .trigger:focus {
  background-image: url("../icons/pencil.svg");
  background-color: var(--gray-5);
  border: 2px solid var(--gray-9);
}

.contextual .trigger:active {
  background-color: var(--gray-5);
  border: 2px solid var(--gray-9);
}

.contextual-region .contextual .contextual-links {
  background-color: var(--gray-3);
  border: 2px solid var(--gray-8) !important;
  padding: .5rem 0;
  border-radius: 0;
  top: 2px;
}

.contextual-region .contextual .quickedit {
  display: none;
}

.contextual-region .contextual .contextual-links a {
  background-color: var(--gray-3);
  color: var(--gray-12);
  font-weight: 700;
  padding: .5rem 1rem;
}

.contextual-region .contextual .contextual-links li a:hover,
.no-touchevents .contextual-region .contextual .contextual-links li a:hover {
  background-color: var(--gray-4);
}

.contextual-region .contextual .contextual-links li a:active,
.no-touchevents .contextual-region .contextual .contextual-links li a:active {
  background-color: var(--gray-5);
}
