/* ------------------------------------------------ */
/* Heading indicators
/* ------------------------------------------------ */
.layout-builder__layout h1,
.layout-builder__layout h2,
.layout-builder__layout h3,
.layout-builder__layout h4 {
  position: relative;
}

.layout-builder__layout h1:before {
  content: "H1";
}

.layout-builder__layout h2:before {
  content: "H2";
}

.layout-builder__layout h3:before {
  content: "H3";
}

.layout-builder__layout h4:before {
  content: "H4";
}

.layout-builder__layout h1:before,
.layout-builder__layout h2:before,
.layout-builder__layout h3:before,
.layout-builder__layout h4:before {
  position: absolute;
  display: block;
  left: -2rem;
  top: 50%;
  transform: translateY(-50%);
  height: 1.25rem;
  border-radius: .25rem;
  line-height: 1;
  bottom: 100%;
  font-size: .75rem;
  font-weight: 700;
  letter-spacing: .05em;
  padding: .25rem;
  background-color: var(--gray-3);
  color: var(--gray-12);
}