/* ------------------------------------------------ */
/* Hidden UI elements.
/* ------------------------------------------------ */

/* ------------------------------------------------ */
/* Hide edit preview functionality
/* ------------------------------------------------ */
.layout-builder-form #edit-preview-toggle {
  display: none;
}

/* ------------------------------------------------ */
/* Hides message with action to edit content type
/* default layout.
/* ------------------------------------------------ */
.layout-builder__message,
.field--type-layout-section {
  display: none;
  width: 0!important;
}

/* ------------------------------------------------ */
/* Hides vertical tabs (version handling/revisions)
/* ------------------------------------------------ */
.layout-builder-form .form-item--vertical-tabs {
  display: none;
}