/* ------------------------------------------------ */
/* Moderation state styles.
/* ------------------------------------------------ */
.field--name-moderation-state {
  display: flex;
  width: auto!important;
  margin-right: auto;
  flex-shrink: 0;
  min-width: 320px;
  font-size: 14px;
  color: var(--gray-12);
}

.field--name-moderation-state > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.field--name-moderation-state .form-item--item {
  font-weight: 700;
  margin-bottom: .125rem;
}

.field--name-moderation-state .form-item--item label:after {
  content: ":";
}

.field--name-moderation-state [data-drupal-selector="edit-moderation-state-0"] {
  width: auto!important;
}

.field--name-moderation-state select:not([multiple]) {
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3e%3cpath fill='none' stroke-width='1.5' d='M1 1l6 6 6-6' stroke='%23545560'/%3e%3c/svg%3e") !important;
  background-position: 105% 50% !important;
  background-repeat: no-repeat !important;
  background-size: 2.75rem 0.5625rem !important;
  border-radius: .125rem;
  border: 1px solid var(--gray-7);
  font-size: .875rem;
  padding: .25rem .5rem;
  text-transform: capitalize;
  font-weight: 500;
  min-width: 128px;
  margin-left: .25rem;
}

.field--name-moderation-state  select:not([multiple]):hover {
  border: 1px solid var(--gray-8);
}

.field--name-moderation-state  select:not([multiple]):focus {
  border: 1px solid var(--gray-9);
}