@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------------------------------------------ */
/* General ajax progress and throbber styles.
/* ------------------------------------------------ */
.ajax-progress {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 32, 32, 0.75);
  left: 0;
  z-index: 999;
}

.ajax-progress .throbber {
  background: url("../../icons/loading.svg") no-repeat 0px center;
  float: none;
  height: 32px;
  margin: 0;
  width: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 1s linear infinite;
}