{# Section classes #}
{% set section_classes = [
    'tlb-section',
    'flex',
    'flex-col',
    settings.background != 'transparent' ? 'py-12 md:py-20 lg:py-24' : 'my-12 md:my-20 lg:my-24',
    settings.margin == 'top' ? 'mt-4',
    settings.margin == 'bottom' ? 'mb-4',
    settings.margin == 'top_bottom' ? 'my-4',
  ]
%}

{# Section title and preamble container classes #}
{% set text_container_classes = 'container mx-auto mb-8 flex flex-col gap-4' %}

{# Content container classes #}
{% set container_classes = 'container mx-auto grid grid-cols-1 gap-4 md:grid-cols-12' %}

{% set map = {
  '67-33': {
    first: 8,
    second: 4,
  },
  '33-67': {
    first: 4,
    second: 8,
  },
  '50-50': {
    first: 6,
    second: 6,
  },
  '75-25': {
    first: 9,
    second: 3,
  },
  '25-75': {
    first: 3,
    second: 9,
  },
} %}

{% set region_first_classes = [
  'flex flex-col gap-4 md:col-span-' ~ map[settings.column_widths].first,
] %}

{% set region_second_classes = [
  'flex flex-col gap-4 md:col-span-' ~ map[settings.column_widths].second,
] %}

{% if content %}
  <div{{ attributes.addClass(section_classes).addClass('bg-' ~ settings.background) }}>

    {% if settings.section_heading|render or settings.section_preamble|render %}
      <div class="{{ text_container_classes }} {{ settings.alignment }}">

        {% if settings.section_heading|render %}
          <{{ settings.heading_level }}
            class="font-bold max-w-screen-md {{ settings.heading_level == 'h1' ? ' text-3xl md:text-4xl lg:text-5xl xl:text-6xl' }}{{ settings.heading_level == 'h2' ? ' text-2xl md:text-3xl lg:text-4xl' }}{{ settings.heading_level == 'h3' ? ' text-xl md:text-2xl lg:text-3xl' }}{{ settings.alignment == 'items-center' ? ' text-center' }}"
          >
            {{ settings.section_heading }}
          </{{ settings.heading_level }}>
        {% endif %}

        {% if settings.section_preamble|render %}
          <p class="text-neutral-700 max-w-screen-sm md:max-w-3xl text-base{{ settings.heading_level == 'h1' ? ' md:text-2xl' }}{{ settings.heading_level == 'h2' ? ' md:text-xl' }}{{ settings.heading_level == 'h3' ? ' md:text-lg' }}{{ settings.alignment == 'items-center' ? ' text-center' }}">
            {{ settings.section_preamble }}
          </p>
        {% endif %}
      </div>
    {% endif %}


    <div class="{{ container_classes }} {{ settings.content_alignment }}">
      {% if content.first %}
        <div {{ region_attributes.first.addClass(region_first_classes) }}>
          {{ content.first }}
        </div>
      {% endif %}

      {% if content.second %}
        <div {{ region_attributes.second.addClass(region_second_classes) }}>
          {{ content.second }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
