.tlb-hero-image div {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.tlb-hero-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
