/* ------------------------------------------------ */
/* Style vides when in layout mode.
/* ------------------------------------------------ */
.tlb-video {
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 56.25%;
  position: relative;
}

.tlb-video > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
