/* ------------------------------------------------ */
/* Form actions.
/* ------------------------------------------------ */
.layout-builder-form .form-actions {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

@media (min-width:768px) {
  .layout-builder-form .form-actions {
    flex-direction: row-reverse;
  }
}