/* ------------------------------------------------ */
/* This is added for the lb form to be able to be
/* sticky when logged in.
/* ------------------------------------------------ */
.is-logged-in [data-off-canvas-main-canvas] {
  overflow: visible!important;
}

/* ------------------------------------------------ */
/* Layout builder root styles
/* ------------------------------------------------ */
.layout-builder {
  border: 0;
  padding: 0;
  margin: 1rem 0;
}

/* ------------------------------------------------ */
/* Layout builder form layout
/* ------------------------------------------------ */
.layout-builder-form {
  background-color: var(--gray-2);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid var(--gray-7);
  border-bottom: 1px solid var(--gray-7);
}

@media (min-width:768px) {
  .layout-builder-form {
    flex-direction: row-reverse;
    position: sticky;
    top: 39px;
    z-index: 101;
  }
}

/* ------------------------------------------------ */
/* Layout builder section and layouts
/* ------------------------------------------------ */
.layout-builder__section {
  margin: 0;
  position: relative;
}

.layout-builder__layout {
  margin: 0;
}

.layout-builder__region {
  padding: .25rem;
  outline: 2px dashed var(--info-7);
}

/* ------------------------------------------------ */
/* Layout builder blocks
/* ------------------------------------------------ */
.layout-builder-block {
  padding: 0;
}

.layout-builder-block picture img {
  width: 100%
}

/* ------------------------------------------------ */
/* Layout builder add section
/* ------------------------------------------------ */
.layout-builder__add-section {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: transparent;
  outline: none;
  border: 2px dashed var(--gray-7);
  padding: 1rem;
  display: flex;
  width: 100%;
}

.layout-builder__add-section a {
  border-radius: 0;
  font-weight: 700;
  font-size: 14px;
  background-color: var(--gray-2);
  border: 2px solid var(--gray-7);
  color: var(--gray-12);
  transition: all .2s ease-in-out;
  margin: 0 auto;
}

.layout-builder__add-section a:hover {
  background-color: var(--gray-4);
  text-decoration: none;
  border: 2px solid var(--gray-8);
}

.layout-builder__add-section a:active {
  background-color: var(--gray-5);
  border: 2px solid var(--gray-9);
}

/* ------------------------------------------------ */
/* Layout builder add block
/* ------------------------------------------------ */
.layout-builder__add-block {
  padding: 0;
  margin: 0;
  background-color: transparent;
  position: relative;
  margin: 1rem 0;
}

div:not(.layout__region-info) + .layout-builder__add-block {
  margin: 0.25rem 0 1rem;
}

.layout-builder__add-block a {
  transition: all .2s ease-in-out;
  font-weight: 700;
  font-size: 14px;
  background-color: var(--gray-3);
  color: var(--gray-12);
  text-decoration: none;
  border-radius: 0;
  border: 2px solid var(--gray-7);
  margin: 0;
}

.layout-builder__add-block a:hover {
  background-color: var(--gray-4);
  border: 2px solid var(--gray-8);
  text-decoration: none;
}

.layout-builder__add-block a:active {
  background-color: var(--gray-5);
  border: 2px solid var(--gray-9);
}

/* ------------------------------------------------ */
/* Layout builder section configuration
/* ------------------------------------------------ */
.layout-builder__link--remove,
.layout-builder__link--configure {
  position: absolute;
  white-space: nowrap;
  z-index: 100;
  border-radius: 0;
  top: 1rem;
}

.layout-builder__link--remove {
  background-image: url("../../icons/trash.svg");
  background-size: 20px 20px;
  border: 0;
  right: 1rem;
  background-color: var(--error-3);
  border: 2px solid var(--error-7);
  padding: .25rem;
  height: 2rem;
  width: 2rem;
  margin-right: 0;
}

.layout-builder__link--remove:hover {
  background-image: url("../../icons/trash.svg");
  background-color: var(--error-4);
  border: 2px solid var(--error-8);
}

.layout-builder__link--remove:active {
  background-image: url("../../icons/trash.svg");
  background-color: var(--error-5);
  border: 2px solid var(--error-9);
}

.layout-builder__link--configure {
  background-color: var(--gray-3);
  border: 2px solid var(--gray-7);
  color: var(--gray-12);
  transition: all .125s ease-in-out;
  display: flex;
  align-items: center;
  font-weight: 700;
  padding: 4px 10px;
  margin-left: 0;
  right: 4rem;
  font-size: 14px;
  text-decoration: none;
}

.layout-builder__link--configure:hover {
  background-color: var(--gray-4);
  border-color: var(--gray-8);
  text-decoration: none;
}

.layout-builder__link--configure:active {
  background-color: var(--gray-5);
  border-color: var(--gray-9);
}

.layout-builder__link--configure::before {
  content: "";
  display: inline-flex;
  margin-right: .125rem;
  background-image: url("../../icons/cog.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 1.25rem;
  height: 1.25rem;
}

.layout-builder__link--add {
  background-image: url("../../icons/plus.svg");
  background-position: 1rem center;
  background-size: 1.25rem 1.25rem;
  color: var(--lb-button-light-text);
  font-weight: 500;
  display: inline-block;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
  border-radius: 2px;
}