/* ------------------------------------------------ */
/* Media library general layout.
/* ------------------------------------------------ */
#media-library-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

/* ------------------------------------------------ */
/* Modal titlebar and title.
/* ------------------------------------------------ */
#media-library-add-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 640px;
  border: 1px solid var(--gray-7);
  padding: 1rem;
}

#media-library-add-form-wrapper .js-media-library-add-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#media-library-add-form-wrapper .js-media-library-add-form ul li {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
}

.js-media-library-add-form input[data-drupal-selector="edit-submit"] {
  background-color: var(--success-3);
  border: 2px solid var(--success-7);
  border-radius: 0;
  color: var(--success-12);
}

.js-media-library-add-form input[data-drupal-selector="edit-submit"]:hover,
.js-media-library-add-form input[data-drupal-selector="edit-submit"]:focus {
  background-color: var(--success-4);
  border: 2px solid var(--success-8);
}

.js-media-library-add-form input[data-drupal-selector="edit-submit"]:active {
  background-color: var(--success-5);
  border: 2px solid var(--success-9);
}

.js-media-library-add-form input[data-drupal-selector="edit-remove-button"] {
  background-color: var(--error-3);
  border: 2px solid var(--error-7);
  border-radius: 0;
  color: var(--error-12);
}

.js-media-library-add-form input[data-drupal-selector="edit-remove-button"]:hover,
.js-media-library-add-form input[data-drupal-selector="edit-remove-button"]:focus {
  background-color: var(--error-4);
  border: 2px solid var(--error-8);
}

.js-media-library-add-form input[data-drupal-selector="edit-remove-button"]:active {
  background-color: var(--error-5);
  border: 2px solid var(--error-9);
}

#media-library-add-form-wrapper img[data-drupal-selector="edit-thumbnail"] {
  max-width: 256px;
}

/**
 * Media library filters.
 */
#media-library-wrapper .views-exposed-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border: .0625rem solid var(--gray-7);
  max-width: 768px;
}

@media (min-width: 768px) {
  #media-library-wrapper .views-exposed-form {
    flex-direction: row;
    align-items: flex-end;
  }
}

#media-library-wrapper .views-exposed-form select {
  min-width: 200px;
}

#media-library-wrapper .views-exposed-form .form-wrapper input {
  min-width: 200px;
}

#media-library-wrapper .views-exposed-form .form-wrapper input {
  border: 2px solid var(--gray-7);
  background-color: var(--gray-3);
  color: var(--gray-12);
  border-radius: 0;
  max-height: 51px;
}

#media-library-wrapper .views-exposed-form .form-wrapper input:hover {
  border: 2px solid var(--gray-8);
  background-color: var(--gray-4);
}

#media-library-wrapper .views-exposed-form .form-wrapper input:active {
  border: 2px solid var(--gray-9);
  background-color: var(--gray-5);
}

/**
 * Media library view.
 */

.js-media-libray-view,
#media-library-content {
  width: 100%;
}

#media-library-wrapper .views-form form {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

#media-library-wrapper .views-form form #media-library-messages {
  grid-column: 1 / -1;
}

@media(min-width: 768px) {
  #media-library-wrapper .views-form form {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media(min-width: 1024px) {
  #media-library-wrapper .views-form form {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

#media-library-wrapper .views-form form .views-row {
  border-radius: .125rem;
  border: .0625rem solid var(--gray-7);
  cursor: pointer;
  position: relative;
  font-size: .875rem;
  font-weight: 700;
}

#media-library-wrapper .views-form form .views-row.checked {
  background-color: var(--gray-4);
  border: .0625rem solid var(--gray-7);
}

#media-library-wrapper .views-form form .views-row article > div:last-child {
  padding: .125rem .25rem;
}

#media-library-wrapper .views-form form .views-row .views-field {
  width: 100%;
}

#media-library-wrapper .views-form form .views-row .views-field .js-media-library-item-preview {
  padding-bottom: 2rem;
  position: relative;
}

#media-library-wrapper .views-form form .views-row .views-field .js-media-library-item-preview + div {
  background-color: var(--gray-1);
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 2rem;
  width: 100%;
  padding: .5rem;
}

#media-library-wrapper .views-form form .views-row img {
  height: 11.25rem;
  object-fit: contain;
  object-position: center center;
}

#media-library-wrapper .views-form form .views-row .views-field-media-library-select-form {
  position: absolute;
  top: .5rem;
  left: .5rem;
}

.js-pager__items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 1rem;
}

#media-library-wrapper .views-form form .views-row .views-field-media-library-select-form input[type="checkbox"] {
  appearance: none;
  background-size: 100% 100%;
  background: var(--gray-3) no-repeat 50% 50%;
  border-radius: 2px;
  border: 2px solid var(--gray-10);
  box-shadow: 0 0 0 4px transparent;
  display: inline-flex;
  height: 1.25rem;
  position: relative;
  width: 1.25rem;
  padding: 0;
  z-index: 999;
}

#media-library-wrapper .views-form form .views-row .views-field-media-library-select-form input[type="checkbox"]:hover,
#media-library-wrapper .views-form form .views-row .views-field-media-library-select-form input[type="checkbox"]:focus {
  background: var(--gray-4) no-repeat 50% 50%;
  border: 2px solid var(--gray-11);
}

#media-library-wrapper .views-form form .views-row .views-field-media-library-select-form input[type="checkbox"]:active {
  background: var(--gray-5) no-repeat 50% 50%;
  border: 2px solid var(--gray-12);
}

#media-library-wrapper .views-form form .views-row .views-field-media-library-select-form input[type="checkbox"]:checked {
  background-color: var(--success-11);
  border: 2px solid var(--success-11);
  background-image: url("data:image/svg+xml,%3csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.795 7.096l2.387 2.506 6.023-6.327 1.484 1.56-7.507 7.89L2.31 8.656z' fill='%23fff'/%3e%3c/svg%3e")
}

.js-media-library-view header {
  display: flex;
  margin: 1rem 0;
}

.js-media-library-menu {
  display: flex;
}

.media-library-menu-image a,
.media-library-menu-document a,
.media-library-menu-remote-video a,
.media-library-menu-video a {
  float: none;
  background-color: #EFEFEF;
  background-image: none;
  background-size: 1.25rem 1.25rem;
  border-radius: .125rem;
  color: var(--lb-color-dark-gray);
  cursor: pointer;
  font-weight: 700;
  display: inline-block;
  margin: 0 1rem 1rem 0;
  border: 0;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-align: center;
  width: auto;
}

.media-library-menu-image a.active,
.media-library-menu-document a.active,
.media-library-menu-remote-video a.active,
.media-library-menu-video a.active {
  border-bottom: .125rem solid #003cc5;
}

.media-library-menu-image a:focus,
.media-library-menu-document a:focus,
.media-library-menu-remote-video a:focus,
.media-library-menu-video a:focus {
  outline: 2px dotted transparent;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 5px #26a769;
  text-decoration: none;
}

.media-library-menu-image a:not(focus),
.media-library-menu-document a:not(focus),
.media-library-menu-remote-video a:not(focus),
.media-library-menu-video a:not(focus){
  box-shadow: var(--lb-not-focus-shadow);
}

.js-media-library-view a {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.js-media-library-view a.is-active {
  text-decoration: underline;
}

.js-media-library-view header a:before {
  height: 1.25rem;
  width: 1.25rem;
  background-size: 1.25rem 1.25rem;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: inline-block;
  margin-right: .5rem;
}

.js-media-library-view .views-display-link-widget:before {
  background-image: url("../../icons/grid.svg") !important;
}

.js-media-library-view .views-display-link-widget_table:before {
  background-image: url("../../icons/table.svg") !important;
}

.ui-dialog #media-library-wrapper .js-media-library-item:not(.media-library-item--table) {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: flex-start;
  position: relative;
  font-size: .875rem;
  font-weight: 700;
  background-color: var(--gray-3);
}

.ui-dialog .js-media-library-item input {
  order: 2;
  margin-top: .5rem;
}

.js-media-library-views-form table {
  grid-column: 1 / -1;
  color: var(--gray-12);
}

.js-media-library-views-form table th,
.js-media-library-views-form table td {
  text-align: left;
  padding: 1rem;
}

.js-media-library-views-form table thead {
  background-color: var(--gray-3);
  border-bottom: 1px solid var(--gray-7);
}

.media-library-item--table {
  border-bottom: 1px solid var(--gray-3);
}

.media-library-item--table img {
  max-width: 96px;
  height: auto;
}

#media-library-wrapper .views-form form .media-library-item--table input[type="checkbox"] {
  appearance: none;
  background-size: 100% 100%;
  background: var(--gray-3) no-repeat 50% 50%;
  border-radius: 2px;
  border: 2px solid var(--gray-10);
  box-shadow: 0 0 0 4px transparent;
  display: inline-flex;
  height: 1.25rem;
  position: relative;
  width: 1.25rem;
  padding: 0;
  z-index: 999;
}

#media-library-wrapper .views-form form .media-library-item--table input[type="checkbox"]:hover,
#media-library-wrapper .views-form form .media-library-item--table input[type="checkbox"]:focus {
  background: var(--gray-4) no-repeat 50% 50%;
  border: 2px solid var(--gray-11);
}

#media-library-wrapper .views-form form .media-library-item--table input[type="checkbox"]:active {
  background: var(--gray-5) no-repeat 50% 50%;
  border: 2px solid var(--gray-12);
}

#media-library-wrapper .views-form form .media-library-item--table input[type="checkbox"]:checked {
  background-color: var(--success-11);
  border: 2px solid var(--success-11);
  background-image: url("data:image/svg+xml,%3csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.795 7.096l2.387 2.506 6.023-6.327 1.484 1.56-7.507 7.89L2.31 8.656z' fill='%23fff'/%3e%3c/svg%3e")
}