/* ------------------------------------------------ */
/* Modal root.
/* ------------------------------------------------ */
.ui-widget.ui-widget-content {
  border-radius: 0;
  border: 0;
  padding: 0;
  z-index: 999;
}

/* ------------------------------------------------ */
/* Modal titlebar and title.
/* ------------------------------------------------ */
.ui-dialog .ui-dialog-titlebar {
  background-color: var(--gray-12);
  color: var(--gray-1);
  padding: 1rem;
  border: 0;
  border-radius: 0;
}

.ui-dialog .ui-dialog-title {
  margin: 0;
}

.ui-dialog .ui-button .ui-icon {
  display: none;
}

.ui-dialog .ui-dialog-titlebar-close {
  background-image: url("../../icons/close.svg") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  border: .1875rem solid transparent;
  border-radius: 999px;
  height: 2rem;
  transition: none;
  margin: 0;
  transform: translateY(-50%);
  right: 1rem !important;
  width: 2rem;
}

.ui-dialog .ui-dialog-titlebar-close:hover {
  background-image: url("../../icons/close.svg") !important;
  background-color: transparent;
}

/* ------------------------------------------------ */
/* Modal body.
/* ------------------------------------------------ */
.ui-dialog .ui-dialog-content {
  padding: 1rem;
}

/* ------------------------------------------------ */
/* Modal form and form elements.
/* ------------------------------------------------ */
.ui-dialog .ui-dialog-content .form-wrapper >* {
  margin-top: 1rem;
}

.ui-dialog .ui-dialog-content .form-wrapper >:first-child {
  margin-top: 0;
}

.ui-dialog .ui-dialog-content form fieldset {
  padding: 0 1rem 1rem;
  border: 1px solid var(--gray-7)
}

.ui-dialog .ui-dialog-content form fieldset legend {
  font-weight: 700;
  font-size: .75rem;
  color: var(--gray-12);
  background-color: var(--gray-1);
  padding: 0.5rem;
  margin-left: -.5rem;
  margin-top: -2px;
}

.ui-dialog .ui-dialog-content form .fieldset-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  gap: 1rem;
}

.ui-dialog .ui-dialog-content form .fieldset-wrapper >*:not(.description):not(.js-media-library-selection):(not.field-prefix) {
  margin-top: 1rem;
}

.ui-dialog .ui-dialog-content form .fieldset-wrapper >*:first-child {
  margin-top: 0;
}

.ui-dialog .ui-dialog-content form .field-prefix {
  font-size: .875rem;
}

.ui-dialog .ui-dialog-content form .field-prefix:empty {
  display: none;
}

.ui-dialog .ui-dialog-content form .description {
  font-size: .75rem;
  display: block;
  color: var(--lb-color-gray);
}

div[id*="edit-settings-admin-label"] {
  display: none;
}

input[id*="edit-actions-submit"] {
  background-color: var(--success-3);
  border: 2px solid var(--success-7);
  background-image: none;
  background-size: 1.25rem 1.25rem;
  border-radius: .125rem;
  color: var(--success-12);
  cursor: pointer;
  font-size: .875rem;
  font-weight: 700;
  margin: 1rem 0 0;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-align: center;
  width: auto;
}

input[id*="edit-actions-submit"]:hover {
  background-color: var(--success-4);
  border: 2px solid var(--success-8);
  color: var(--success-12);
}

input[id*="edit-actions-submit"]:focus {
  background-color: var(--success-5);
  border: 2px solid var(--success-9);
  color: var(--success-12);
}

.ui-dialog .ui-dialog-content label {
  color: var(--gray-12);
  font-weight: 700;
  font-size: .875rem;
}

.ui-dialog .ui-dialog-content input[type="text"],
.ui-dialog .ui-dialog-content .form-textarea {
  appearance: none;
  border-radius: .125rem;
  border: 1px solid var(--gray-7);
  font-size: .875rem;
  width: 100%;
  font-weight: 500;
}

.ui-dialog .ui-dialog-content input[type="text"]:hover,
.ui-dialog .ui-dialog-content .form-textarea:hover {
  border: 1px solid var(--gray-8);
}

.ui-dialog .ui-dialog-content input[type="text"]:focus,
.ui-dialog .ui-dialog-content .form-textarea:focus {
  border: 1px solid var(--gray-9);
}

.ui-dialog .ui-dialog-content input[type="text"] + div,
.ui-dialog .ui-dialog-content .form-textarea + div,
.ui-dialog .ui-dialog-content .form-item select + div {
  color: var(--gray-11);
  display: block;
  margin-top: .125rem;
  font-size: .75rem;
}

.ui-dialog .ui-dialog-content .form-item--checkbox label {
  color: var(--gray-12);
  cursor: pointer;
  padding-left: .5rem;
}

.ui-dialog .ui-dialog-content .form-item--checkbox {
  display: flex;
  flex-wrap: wrap;
}

.ui-dialog .ui-dialog-content select:not([multiple]) {
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3e%3cpath fill='none' stroke-width='1.5' d='M1 1l6 6 6-6' stroke='%23545560'/%3e%3c/svg%3e") !important;
  background-position: 100% 50% !important;
  background-repeat: no-repeat !important;
  background-size: 2.75rem 0.5625rem !important;
  border-radius: .125rem;
  border: 1px solid var(--gray-7);
  font-size: .875rem;
  padding: .875rem 1rem;
  text-transform: capitalize;
  width: 100%;
  font-weight: 500;
}

.ui-dialog .ui-dialog-content select:not([multiple]):hover {
  border: 1px solid var(--gray-8);
}

.ui-dialog .ui-dialog-content select:not([multiple]):focus {
  border: 1px solid var(--gray-9);
}

.ui-dialog .ui-dialog-content .form-item--select label {
  color: var(--gray-12);
  display: block;
}

.ui-dialog .ui-dialog-content .field--widget-text-textarea-with-summary .filter-wrapper,
.ui-dialog .ui-dialog-content .field--widget-text-textarea-with-summary .text-full {
  display: none;
}

/* ------------------------------------------------ */
/* Modal media (excludes media library modal).
/* ------------------------------------------------ */
.ui-dialog:not(.media-library-widget-modal) .ui-dialog-content .js-media-library-item,
.ui-dialog:not(.media-library-widget-modal) .ui-dialog-content .js-media-library-selection {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: .25rem;
}

.ui-dialog:not(.media-library-widget-modal) .ui-dialog-content .js-media-library-selection:empty {
  display: none;
}

.ui-dialog:not(.media-library-widget-modal) .ui-dialog-content .js-media-library-item .js-media-library-item-preview {
  max-width: 220px;
}

.ui-dialog:not(.media-library-widget-modal) .ui-dialog-content .js-media-library-item-preview + div {
  font-size: .875rem;
  margin-top: .125rem;
  color: var(--gray-11);
}

.ui-dialog:not(.media-library-widget-modal) .ui-dialog-content .js-media-library-open-button {
  background-color: var(--gray-3);
  border: 2px solid var(--gray-7);
  border-radius: .125rem;
  color: var(--gray-12);
  cursor: pointer;
  font-size: .875rem;
  font-weight: 700;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-align: center;
  width: auto;
}

.ui-dialog:not(.media-library-widget-modal) .ui-dialog-content .js-media-library-open-button:hover {
  background-color: var(--gray-4);
  border: 2px solid var(--gray-8);
  color: var(--gray-12);
}

.ui-dialog:not(.media-library-widget-modal) .ui-dialog-content .js-media-library-open-button:focus {
  background-color: var(--gray-5);
  border: 2px solid var(--gray-9);
  color: var(--gray-12);
}

.ui-dialog:not(.media-library-widget-modal) .ui-dialog-content .js-media-library-item [data-drupal-selector$="remove-button"] {
  background-color: var(--error-3);
  border: 2px solid var(--error-7);
  border-radius: .125rem;
  color: var(--error-12);
  cursor: pointer;
  font-size: .875rem;
  font-weight: 700;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-align: center;
  width: auto;
}

.ui-dialog:not(.media-library-widget-modal) .ui-dialog-content .js-media-library-item [data-drupal-selector$="remove-button"]:hover {
  background-color: var(--error-4);
  border: 2px solid var(--error-8);
  color: var(--error-12);
}

.ui-dialog:not(.media-library-widget-modal) .ui-dialog-content .js-media-library-item [data-drupal-selector$="remove-button"]:focus {
  background-color: var(--error-5);
  border: 2px solid var(--error-9);
  color: var(--error-12);
}


.ui-dialog .ui-dialog-buttonpane {
  border-top: 1px solid var(--gray-7);
  background-color: var(--gray-2);
  margin: 0;
  padding: 1rem;
  position: relative;
}

.ui-dialog .ui-dialog-buttonpane .media-library-selected-count {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ui-dialog .ui-dialog-buttonpane button {
  margin: 0;
  background-color: var(--success-3);
  border: 2px solid var(--success-7);
  border-radius: 0;
  color: var(--success-12);
}

.ui-dialog .ui-dialog-buttonpane button:hover,
.ui-dialog .ui-dialog-buttonpane button:focus {
  background-color: var(--success-4);
  border: 2px solid var(--success-8);
}

.ui-dialog .ui-dialog-buttonpane button:active {
  background-color: var(--success-5);
  border: 2px solid var(--success-9);
}