#drupal-off-canvas-wrapper {
  --off-canvas-wrapper-box-shadow: none;
  --off-canvas-wrapper-border-color: transparent;
  --off-canvas-wrapper-border-width: 0;

  --off-canvas-background-color-light: var(--gray-1);
  --off-canvas-background-color-medium: var(--gray-5);
  --off-canvas-background-color-dark: var(--gray-12);
  --off-canvas-background-color: var(--off-canvas-background-color-light);
  --off-canvas-padding: 1rem;
  --off-canvas-text-color: var(--gray-12);
  --off-canvas-link-color: var(--info-11);
  --off-canvas-border-color: var(--gray-7);
  --off-canvas-font-family: "Lucida Grande", "Lucida Sans Unicode", "liberation sans", sans-serif;
  --off-canvas-vertical-spacing-unit: 0.5rem;
  --off-canvas-focus-outline-width: 2px;
  --off-canvas-focus-outline-color: var(--info-11);

  --off-canvas-button-background-color: var(--info-3);
  --off-canvas-button-background-color-hover: var(--info-4);
  --off-canvas-button-text-color: var(--info-12);
  --off-canvas-button-text-color-hover: var(--info-12);
  --off-canvas-button-font-size: 0.875rem;
  --off-canvas-button-padding: 1rem 1.25rem;
  --off-canvas-button-border-color: var(--info-7);
  --off-canvas-button-border-radius: 0;
  --off-canvas-button-font-weight: 700;
  --off-canvas-primary-button-background-color: var(--success-3);
  --off-canvas-primary-button-background-color-hover: var(--success-4);
  --off-canvas-primary-button-text-color: var(--success-12);
  --off-canvas-primary-button-text-color-hover: var(--success-12);

  --drupal-off-canvas-input-padding: var(--off-canvas-vertical-spacing-unit);
  --drupal-off-canvas-input-background-color: var(--gray-1);
  --drupal-off-canvas-input-border: solid 1px var(--gray-7);
  --drupal-off-canvas-input-border-radius: 0;
  --drupal-off-canvas-input-font-size: 0.875rem;
  --drupal-off-canvas-input-text-color: var(--gray-12);
  --drupal-off-canvas-fieldset-background-color: transparent;
  --drupal-off-canvas-fieldset-border-width: 1px;
  --drupal-off-canvas-fieldset-border-color: var(--gray-7);

  --off-canvas-details-border-width: 0;
  --off-canvas-details-border-color: none;
  --off-canvas-details-background-color: #474747;
  --off-canvas-details-text-color: #ddd;
  --off-canvas-details-summary-border: none;
  --off-canvas-details-summary-padding: 0.625rem 1.25rem;
  --off-canvas-details-summary-font-size: 0.875rem;
  --off-canvas-details-summary-background-color: #333;
  --off-canvas-details-summary-background-color-hover: #222;
  --off-canvas-details-summary-text-color: #eee;
  --off-canvas-details-summary-text-color-hover: #fff;

  --off-canvas-messages-icon-size: 1rem;
  --off-canvas-messages-background-color: var(--gray-2);
  --off-canvas-messages-text-color-status: var(--succes-12);
  --off-canvas-messages-text-color-warning: var(--warning-12);
  --off-canvas-messages-text-color-error: var(--error-12);
  --off-canvas-messages-icon-status: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2373b355'%3e%3cpath d='M6.464 13.676c-.194.194-.513.194-.707 0l-4.96-4.955c-.194-.193-.194-.513 0-.707l1.405-1.407c.194-.195.512-.195.707 0l2.849 2.848c.194.193.513.193.707 0l6.629-6.626c.195-.194.514-.194.707 0l1.404 1.404c.193.194.193.513 0 .707l-8.741 8.736z'/%3e%3c/svg%3e);
  --off-canvas-messages-icon-warning: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23e29700'%3e%3cpath d='M14.66 12.316l-5.316-10.633c-.738-1.476-1.946-1.476-2.685 0l-5.317 10.633c-.738 1.477.008 2.684 1.658 2.684h10.002c1.65 0 2.396-1.207 1.658-2.684zm-7.66-8.316h2.002v5h-2.002v-5zm2.252 8.615c0 .344-.281.625-.625.625h-1.25c-.345 0-.626-.281-.626-.625v-1.239c0-.344.281-.625.626-.625h1.25c.344 0 .625.281.625.625v1.239z'/%3e%3c/svg%3e);
  --off-canvas-messages-icon-error: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23e32700'%3e%3cpath d='M8.002 1c-3.868 0-7.002 3.134-7.002 7s3.134 7 7.002 7c3.865 0 7-3.134 7-7s-3.135-7-7-7zm4.025 9.284c.062.063.1.149.1.239 0 .091-.037.177-.1.24l-1.262 1.262c-.064.062-.15.1-.24.1s-.176-.036-.24-.1l-2.283-2.283-2.286 2.283c-.064.062-.15.1-.24.1s-.176-.036-.24-.1l-1.261-1.262c-.063-.062-.1-.148-.1-.24 0-.088.036-.176.1-.238l2.283-2.285-2.283-2.284c-.063-.064-.1-.15-.1-.24s.036-.176.1-.24l1.262-1.262c.063-.063.149-.1.24-.1.089 0 .176.036.24.1l2.285 2.284 2.283-2.284c.064-.063.15-.1.24-.1s.176.036.24.1l1.262 1.262c.062.063.1.149.1.24 0 .089-.037.176-.1.24l-2.283 2.284 2.283 2.284z'/%3e%3c/svg%3e);

  --off-canvas-dropbutton-height: 1.5rem;
  --off-canvas-dropbutton-primary-background-color: var(--off-canvas-button-background-color);
  --off-canvas-dropbutton-secondary-background-color: var(--off-canvas-button-hover-background-color);
  --off-canvas-dropbutton-border-color: transparent;
  --off-canvas-dropbutton-border-width: 1px;
  --off-canvas-dropbutton-border-radius: 2px;
  --off-canvas-dropbutton-focus-outline-color: var(--off-canvas-focus-outline-color);
  --off-canvas-dropbutton-font-size: 0.75rem;
  --off-canvas-dropbutton-text-color: var(--off-canvas-button-text-color);
  --off-canvas-dropbutton-text-color-hover: var(--off-canvas-button-text-color-hover);

  --off-canvas-title-padding: calc(3 * var(--off-canvas-vertical-spacing-unit));
  --off-canvas-title-background-color: var(--gray-12);
  --off-canvas-title-text-color: var(--gray-1);
  --off-canvas-title-font-size: 1rem;

  z-index: 501;
  overflow: auto;
  box-sizing: border-box;
  height: 100%;
  border: 0;
  border-inline-start: 0;
  border-inline-start: none;
  border-radius: 0;
  border-left: 1px solid var(--off-canvas-border-color);
  box-shadow: none;
}

/* ------------------------------------------------ */
/* Off canvas title/titlebar.
/* ------------------------------------------------ */
#drupal-off-canvas-wrapper .ui-dialog-title {
  max-width: 75%;
  display: flex;
  font-size: .875rem;
}

#drupal-off-canvas-wrapper .ui-dialog-titlebar {
  padding: var(--off-canvas-padding);
  position: relative;
}

#drupal-off-canvas-wrapper .ui-dialog-titlebar:before {
  display: none;
}

#drupal-off-canvas-wrapper .ui-dialog-titlebar-close {
  background-image: url("../../icons/close.svg") !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border-radius: 999px;
  border: .1875rem solid transparent;
  height: 2rem;
  right: .75rem;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  transition: none;
  width: 2rem;
}

#drupal-off-canvas-wrapper .ui-dialog-titlebar-close:before,
#drupal-off-canvas-wrapper .ui-dialog-titlebar-close:after {
  border: none;
}

#drupal-off-canvas-wrapper .ui-dialog-titlebar-close:hover {
  background-image: url("../../icons/close.svg");
  border: .1875rem solid transparent;
}

#drupal-off-canvas-wrapper .ui-dialog-titlebar-close:focus {
  background-image: url("../../icons/close.svg");
}

/* ------------------------------------------------ */
/* Off canvas list and list item styles.
/* ------------------------------------------------ */
#drupal-off-canvas-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#drupal-off-canvas-wrapper .inline-block-list li,
#drupal-off-canvas-wrapper ul li {
  padding: 0;
  position: relative;
}

#drupal-off-canvas-wrapper ul li a {
  display: flex;
  gap: .75rem;
  font-weight: 700;
  font-size: .875rem;
  color: var(--gray-12);
  align-items: center;
  padding: .75rem 1rem;
  margin: 0 -1rem;
  border-bottom: 1px solid var(--gray-7);
}

#drupal-off-canvas-wrapper ul li a:hover {
  background-color: var(--gray-3);
}

#drupal-off-canvas-wrapper ul li a:focus {
  outline-offset: -2px;
}

#drupal-off-canvas-wrapper ul li img {
  width: 4rem;
  height: auto;
}

#drupal-off-canvas .inline-block-list__item {
  background-color: var(--gray-1);
  display: flex;
  align-items: center;
  gap: .75rem;
  font-size: .875rem;
  padding: .75rem 1rem;
  transition: background-color .1s ease-in-out;
}

#drupal-off-canvas .inline-block-list__item:hover,
#drupal-off-canvas .inline-block-list__item:focus {
  background-color: var(--gray-3);
}

#drupal-off-canvas .inline-block-list__item:focus {
  outline-offset: -2px;
}

#drupal-off-canvas .inline-block-list li a[href$="inline_block%3Aimage"]:before {
  background-image: url("../../icons/image.svg") !important;
  content: "";
  cursor: pointer !important;
  display: flex;
  height: 2.5rem;
  background-size: 4rem 2.5rem !important;
  background-repeat: no-repeat !important;
  flex-shrink: 0;
  width: 4rem;
}

#drupal-off-canvas .inline-block-list a[href$="inline_block%3Aimage_with_text"]:before {
  background-image: url("../../icons/image-with-text.svg") !important;
  content: "";
  cursor: pointer !important;
  display: flex;
  height: 2.5rem;
  background-size: 4rem 2.5rem !important;
  background-repeat: no-repeat !important;
  flex-shrink: 0;
  width: 4rem;
}

#drupal-off-canvas .inline-block-list a[href$="inline_block%3Aimage_with_text_vertical"]:before {
  background-image: url("../../icons/image-with-text-vertical.svg") !important;
  content: "";
  cursor: pointer !important;
  display: flex;
  height: 2.5rem;
  background-size: 4rem 2.5rem !important;
  background-repeat: no-repeat !important;
  flex-shrink: 0;
  width: 4rem;
}

#drupal-off-canvas .inline-block-list a[href$="inline_block%3Aimage_with_text_overlay"]:before {
  background-image: url("../../icons/image-with-text-overlay.svg") !important;
  content: "";
  cursor: pointer !important;
  display: flex;
  height: 2.5rem;
  background-size: 4rem 2.5rem !important;
  background-repeat: no-repeat !important;
  flex-shrink: 0;
  width: 4rem;
}

#drupal-off-canvas .inline-block-list a[href$="inline_block%3Atext"]:before {
  background-image: url("../../icons/text.svg") !important;
  content: "";
  cursor: pointer !important;
  display: flex;
  height: 2.5rem;
  background-size: 4rem 2.5rem !important;
  background-repeat: no-repeat !important;
  flex-shrink: 0;
  width: 4rem;
}

#drupal-off-canvas .inline-block-list a[href$="inline_block%3Atext_with_applied_styles"]:before {
  background-image: url("../../icons/text-with-applied-styles.svg") !important;
  content: "";
  cursor: pointer !important;
  display: flex;
  height: 2.5rem;
  background-size: 4rem 2.5rem !important;
  background-repeat: no-repeat !important;
  flex-shrink: 0;
  width: 4rem;
}

#drupal-off-canvas .inline-block-list a[href$="inline_block%3Avideo"]:before {
  background-image: url("../../icons/video.svg") !important;
  content: "";
  cursor: pointer !important;
  display: flex;
  height: 2.5rem;
  background-size: 4rem 2.5rem !important;
  background-repeat: no-repeat !important;
  flex-shrink: 0;
  width: 4rem;
}

/* ------------------------------------------------ */
/* Off canvas form and form elments.
/* ------------------------------------------------ */
#drupal-off-canvas:not(.drupal-off-canvas-reset) form,
#drupal-off-canvas-wrapper form {
  color: var(--gray-12);
}

#drupal-off-canvas-wrapper .form-item:where(:not(fieldset)) {
  padding: 0;
}

#drupal-off-canvas-wrapper .layout-builder-configure-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) .form-submit,
#drupal-off-canvas-wrapper .form-submit {
  appearance: none;
  font-weight: 700;
  font-size: .875rem;
  -webkit-font-smoothing: antialiased;
  border: 2px solid var(--success-7);
  background-color: var(--success-3);
  color: var(--success-12);
  padding: 1rem 1.5rem;
  transition: background-color .125s ease-in-out;
  cursor: pointer;
}

#drupal-off-canvas-wrapper .button {
  margin: 0;
  font-weight: 700;
}

#drupal-off-canvas-wrapper .button.dialog-cancel {
  border: 2px solid var(--error-7);
  background-color: var(--error-3);
  color: var(--error-12);
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) .layout-builder-remove-section.confirmation .form-actions,
#drupal-off-canvas-wrapper .layout-builder-remove-section.confirmation .form-actions,
#drupal-off-canvas:not(.drupal-off-canvas-reset) .layout-builder-remove-block.confirmation .form-actions,
#drupal-off-canvas-wrapper .layout-builder-remove-block.confirmation .form-actions {
  display: flex;
  margin: .5rem 0 0;
}

/* Warn before removing section */
#drupal-off-canvas-wrapper .layout-builder-remove-section.confirmation .form-submit,
#drupal-off-canvas-wrapper .layout-builder-remove-block.confirmation .form-submit {
  border: 2px solid var(--error-7);
  background-color: var(--error-3);
  color: var(--error-12);
}

#drupal-off-canvas-wrapper .layout-builder-remove-section.confirmation .form-submit:hover,
#drupal-off-canvas-wrapper .layout-builder-remove-block.confirmation .form-submit:hover {
  border: 2px solid var(--error-8);
  background-color: var(--error-4);
}

#drupal-off-canvas-wrapper .layout-builder-remove-section.confirmation .form-submit:active,
#drupal-off-canvas-wrapper .layout-builder-remove-block.confirmation .form-submit:active {
  border: 2px solid var(--error-9);
  background-color: var(--error-5);
}

#drupal-off-canvas-wrapper .layout-builder-remove-section.confirmation .button.dialog-cancel,
#drupal-off-canvas-wrapper .layout-builder-remove-block.confirmation .button.dialog-cancel {
  border: 2px solid var(--gray-7);
  background-color: var(--gray-3);
  color: var(--gray-12);
}

#drupal-off-canvas-wrapper .layout-builder-remove-section.confirmation .button.dialog-cancel:hover,
#drupal-off-canvas-wrapper .layout-builder-remove-block.confirmation .button.dialog-cancel:hover {
  border: 2px solid var(--gray-8);
  background-color: var(--gray-4);
}

#drupal-off-canvas-wrapper .layout-builder-remove-section.confirmation .button.dialog-cancel:active {
  border: 2px solid var(--gray-9);
  background-color: var(--gray-5);
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) .form-submit:hover,
#drupal-off-canvas-wrapper .form-submit:hover {
  border: 2px solid var(--success-8);
  background-color: var(--success-4);
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) .form-submit:active,
#drupal-off-canvas-wrapper .form-submit:active {
  border: 2px solid var(--success-9);
  background-color: var(--success-5);
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) .form-actions > *:not(:last-child),
#drupal-off-canvas-wrapper .form-actions > *:not(:last-child) {
  margin-right: 1rem;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) .form-item:first-child,
#drupal-off-canvas-wrapper .form-item:first-child {
  margin-top: 0;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) label,
#drupal-off-canvas-wrapper label {
  color: var(--gray-12);
  font-weight: 700;
  font-size: .875rem;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) input[type="text"],
#drupal-off-canvas-wrapper input[type="text"],
#drupal-off-canvas:not(.drupal-off-canvas-reset) .form-textarea,
#drupal-off-canvas-wrapper .form-textarea {
  appearance: none;
  border-radius: .125rem;
  border: 1px solid var(--gray-7);
  font-size: .875rem;
  padding: .75rem 1rem;
  width: 100%;
  font-weight: 500;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) input[type="text"]:hover,
#drupal-off-canvas-wrapper input[type="text"]:hover,
#drupal-off-canvas:not(.drupal-off-canvas-reset) .form-textarea:hover,
#drupal-off-canvas-wrapper .form-textarea:hover {
  border: 1px solid var(--gray-8);
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) input[type="text"]:focus,
#drupal-off-canvas-wrapper input[type="text"]:focus,
#drupal-off-canvas:not(.drupal-off-canvas-reset) .form-textarea:focus,
#drupal-off-canvas-wrapper .form-textarea:focus {
  border: 1px solid var(--gray-9);
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) input[type="text"] + div,
#drupal-off-canvas-wrapper input[type="text"] + div,
#drupal-off-canvas:not(.drupal-off-canvas-reset) .form-textarea + div,
#drupal-off-canvas-wrapper .form-textarea + div,
#drupal-off-canvas:not(.drupal-off-canvas-reset) .form-item select + div,
#drupal-off-canvas-wrapper .form-item select + div {
  color: var(--gray-11);
  display: block;
  margin-top: .125rem;
  font-size: .75rem;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) .form-item--checkbox label,
#drupal-off-canvas-wrapper .form-item--checkbox label {
  color: var(--gray-12);
  cursor: pointer;
  padding-left: .5rem;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) .form-item--checkbox,
#drupal-off-canvas-wrapper .form-item--checkbox {
  align-items: center;
  display: flex;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) select:not([multiple]),
#drupal-off-canvas-wrapper select:not([multiple]) {
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3e%3cpath fill='none' stroke-width='1.5' d='M1 1l6 6 6-6' stroke='%23545560'/%3e%3c/svg%3e") !important;
  background-position: 100% 50% !important;
  background-repeat: no-repeat !important;
  background-size: 2.75rem 0.5625rem !important;
  border-radius: .125rem;
  border: 1px solid var(--gray-7);
  font-size: .875rem;
  padding: .75rem 1rem;
  text-transform: capitalize;
  width: 100%;
  font-weight: 500;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) select:not([multiple]):hover,
#drupal-off-canvas-wrapper select:not([multiple]):hover {
  border: 1px solid var(--gray-8);
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) select:not([multiple]):focus,
#drupal-off-canvas-wrapper select:not([multiple]):focus {
  border: 1px solid var(--gray-9);
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) .form-item--select label,
#drupal-off-canvas-wrapper .form-item--select label {
  color: var(--gray-12);
  display: block;
}