{% set block_classes = [
  'bg-transparent',
  is_editing_layout ? 'mb-12 last:mb-0 mt-0 p-0' : 'mt-12 first:mt-0'
] %}

<div{{ attributes.addClass(block_classes) }}>
  {{ title_prefix }}
  {% block content %}
    {{ elements }}
  {% endblock %}
  {{ title_suffix }}
</div>
