{# Used to alter component styles depending on heading level #}
{% set heading_level = elements.content.field_heading_level.0["#markup"] %}

{# Outer wrapper #}
{% set block_classes = [
  'bg-transparent',
  elements['#configuration'].layout_id != 'tlb_three_col_grid' ? (is_editing_layout ? 'bg-transparent mb-12 last:mb-0 mt-0 p-0' : 'mt-12 first:mt-0')
]
%}

{% set heading_level = elements.content.field_heading_level.0["#markup"] %}

<div{{ attributes.addClass(block_classes) }}>
  {% block content %}
  {{ title_prefix }}
  <div class="block">
    <div class="flex">
      {{ elements.content.field_image }}
    </div>

    {% if elements.content.field_label.0|render %}
      <p
        class="text-neutral-700 text-base mt-2"
      >
        {{ elements.content.field_label.0 }}
      </p>
    {% endif %}
    <{{ heading_level }}
      class="text-lg mt-4 font-bold"
{#    class="font-bold mt-4 p-0 mb-0 tracking-tight{{ heading_level == 'h1' ? ' text-3xl md:text-4xl lg:text-5xl xl:text-6xl' }}{{ heading_level == 'h2' ? ' text-xl md:text-2xl lg:text-3xl' }}{{ heading_level == 'h3' ? ' text-lg md:text-xl lg:text-2xl' }}{{ heading_level == 'h4' ? ' text-lg md:text-xl lg:text-2xl' }}"#}
    >
      {{ elements.content.field_heading }}
    </{{ heading_level }}>
    <div class="mt-2 text-sm text-neutral-700{% if elements.content.field_link.0["#url"]|render %} mb-4{% endif %}">
      {{ elements.content.field_text.0 }}
    </div>
    {% if elements.content.field_link.0["#url"]|render %}
      <a
        href="{{ elements.content.field_link.0["#url"] }}"
        class="mt-2 underline transition font-medium text-base text-neutral-700 hover:text-neutral-900 hover:border-neutral-900 focus:text-neutral-900 focus:border-neutral-900"
      >
        {{ elements.content.field_link.0["#title"] }}
      </a>
    {% endif %}
  </div>
{{ title_suffix }}
  {% endblock %}
</div>
