{{ attach_library('tailwind_lb/layout_builder_video') }}

{% set block_classes = [
  'bg-transparent',
  'relative',
  elements['#configuration'].layout_id != 'tlb_three_col_grid' ? (is_editing_layout ? 'mt-0 p-0' : 'mt-0 p-0')
] %}

<div{{ attributes.addClass(block_classes) }}>
  {{ title_prefix }}
  {% block content %}
    {{ elements.content.field_video.0 }}
  {% endblock %}
  {{ title_suffix }}
</div>
