{# Used to alter component styles depending on heading level #}
{% set heading_level = elements.content.field_heading_level.0["#markup"] %}

{# Used to alter component alignment depending settings #}
{% set content_alignment %}
  {% if elements.content.field_content_alignment.0["#markup"] == 'top' %}
    {{ 'items-start' }}
  {% elseif elements.content.field_content_alignment.0["#markup"] == 'center' %}
    {{ 'items-center' }}
  {% elseif elements.content.field_content_alignment.0["#markup"] == 'bottom' %}
    {{ 'items-end' }}
  {% endif %}
{% endset %}

{# Outer wrapper #}
{% set block_classes = [
  'bg-transparent',
  elements['#configuration'].layout_id != 'tlb_three_col_grid' ? (is_editing_layout ? 'bg-transparent mb-12 last:mb-0 mt-0 p-0' : 'mt-12 first:mt-0')
]
%}

{% set heading_level = elements.content.field_heading_level.0["#markup"] %}

<div{{ attributes.addClass(block_classes) }}>
  {% block content %}
  {{ title_prefix }}
  <div class="grid grid-cols-2 gap-y-4 items-start md:gap-x-12 {{ content_alignment }}">
    <div class="flex flex-col items-start col-span-2 md:pb-0 md:col-span-1">
      {% if elements.content.field_label.0|render %}
        <p
          class="text-neutral-700 text-base{{ heading_level == 'h1' ? ' text-lg md:text-xl' }}{{ heading_level == 'h2' ? ' text-lg' }}"
        >
          {{ elements.content.field_label.0 }}
        </p>
      {% endif %}
      <{{ heading_level }}
        class="font-bold mt-2 p-0 mb-0 tracking-tight {{ heading_level == 'h1' ? ' text-3xl md:text-4xl lg:text-5xl xl:text-6xl' }}{{ heading_level == 'h2' ? ' text-2xl md:text-3xl lg:text-4xl' }}{{ heading_level == 'h3' ? ' text-xl md:text-2xl lg:text-3xl' }}{{ heading_level == 'h4' ? ' text-xl md:text-2xl lg:text-3xl' }}"
      >
        {{ elements.content.field_heading }}
      </{{ heading_level }}>
      <div class="mt-4 prose">
        {{ elements.content.field_text.0 }}
      </div>
      {% if elements.content.field_link.0["#url"]|render %}
        <a
          href="{{ elements.content.field_link.0["#url"] }}"
          class="w-auto mt-6 inline-flex items-center justify-center transition font-medium px-8 py-3 text-base text-neutral-900 bg-neutral-300 hover:bg-neutral-400 active:bg-neutral-500"
        >
          {{ elements.content.field_link.0["#title"] }}
        </a>
      {% endif %}
    </div>
    <div class="flex col-span-2 items-center order-first md:col-span-1{{ elements.content.field_image_alignment.0["#markup"] == 'left' ? '' : ' md:order-last'}}">
      {{ elements.content.field_image }}
    </div>
  </div>
{{ title_suffix }}
  {% endblock %}
</div>
