{% set block_classes = [
  'bg-transparent',
  elements['#configuration'].layout_id != 'tlb_three_col_grid' ? (is_editing_layout ? '' : '')
]
%}

<div{{ attributes.addClass(block_classes) }}>
  {{ title_prefix }}
  {% block content %}
    {{ elements }}
  {% endblock %}
  {{ title_suffix }}
</div>
