{# Used to alter component styles depending on heading level #}
{% set heading_level = elements.content.field_heading_level.0["#markup"] %}

{# Outer wrapper #}
{% set block_classes = [
  'bg-transparent',
  elements['#configuration'].layout_id != 'tlb_three_col_grid' ? (is_editing_layout ? 'mb-12 last:mb-0 mt-0 p-0' : 'mt-12 first:mt-0')
] %}

<div{{ attributes.addClass(block_classes) }}>
  {% block content %}
    {{ title_prefix }}
    <div class="flex flex-col items-center">
      {% if elements.content.field_label.0|render %}
        <p
          class="text-neutral-700 text-base{{ heading_level == 'h1' ? ' text-lg md:text-xl' }}{{ heading_level == 'h2' ? ' text-lg' }}"
        >
          {{ elements.content.field_label.0 }}
        </p>
      {% endif %}
      <{{ heading_level }}
        class="font-bold mt-2 p-0 mb-0 tracking-tight text-center{{ heading_level == 'h1' ? ' text-3xl md:text-4xl lg:text-5xl xl:text-6xl' }}{{ heading_level == 'h2' ? ' text-2xl md:text-3xl lg:text-4xl' }}{{ heading_level == 'h3' ? ' text-xl md:text-2xl lg:text-3xl' }}{{ heading_level == 'h4' ? ' text-xl md:text-2xl lg:text-3xl' }}"
      >
        {{ elements.content.field_heading.0 }}
      </{{ heading_level }}>
      <p class="mt-6 text-neutral-700 mx-auto text-center max-w-md md:max-w-3xl text-base{{ heading_level == 'h1' ? ' md:text-xl' }}{{ heading_level == 'h2' ? ' md:text-lg' }}">
        {{ elements.content.field_text_clean.0 }}
      </p>
      {% if elements.content.field_link.0|render %}
        <a
          href="{{ elements.content.field_link.0["#url"] }}"
          class="w-auto mt-6 inline-flex items-center justify-center transition font-medium px-8 py-3 text-neutral-900 bg-neutral-300 hover:bg-neutral-400 active:bg-neutral-500"
        >
          {{ elements.content.field_link.0["#title"] }}
        </a>
      {% endif %}
    {{ title_suffix }}
    </div>
  {% endblock %}
</div>
