{{ attach_library('tailwind_lb/layout_builder_hero') }}

{# Used to alter component styles depending on heading level #}
{% set heading_level = elements.content.field_heading_level.0["#markup"] %}

{# Outer wrapper #}
{% set block_classes = [
  'tlb-hero',
  elements['#configuration'].layout_id != 'tlb_three_col_grid' ? (is_editing_layout ? 'bg-transparent mb-12 last:mb-0 mt-0 p-0' : 'mt-12 first:mt-0'),
] %}

<div{{ attributes.addClass(block_classes) }}>
  {% block content %}
    {{ title_prefix }}
      <div class="relative">
        <div class="relative sm:overflow-hidden">
          <div class="flex flex-col text-white items-center z-50 relative px-6 max-w-screen-xl mx-auto py-16 sm:py-24 lg:py-32 xl:py-48">
            {% if elements.content.field_label.0|render %}
              <p class="text-base{{ heading_level == 'h1' ? ' text-lg md:text-xl' }}{{ heading_level == 'h2' ? ' text-lg' }}">
                {{ elements.content.field_label.0 }}
              </p>
            {% endif %}
            <{{ heading_level }}
              class="font-bold mt-2 p-0 mb-0 tracking-tight text-center{{ heading_level == 'h1' ? ' text-3xl md:text-4xl lg:text-5xl xl:text-6xl' }}{{ heading_level == 'h2' ? ' text-2xl md:text-3xl lg:text-4xl' }}{{ heading_level == 'h3' ? ' text-xl md:text-2xl lg:text-3xl' }}{{ heading_level == 'h4' ? ' text-xl md:text-2xl lg:text-3xl' }}"
            >
              {{ elements.content.field_heading.0 }}
            </{{ heading_level }}>
            <div class="mt-6 text-white mx-auto text-center max-w-md md:max-w-3xl text-base{{ heading_level == 'h1' ? ' md:text-xl' }}{{ heading_level == 'h2' ? ' md:text-lg' }}">
              {{ elements.content.field_text.0 }}
            </div>
            {% if elements.content.field_link.0["#url"]|render %}
              <a
                href="{{ elements.content.field_link.0["#url"] }}"
                class="w-auto mt-6 inline-flex items-center justify-center transition font-medium px-8 py-3 text-base rounded text-neutral-900 bg-neutral-300 hover:bg-neutral-400 focus:bg-neutral-500"
              >
                {{ elements.content.field_link.0["#title"] }}
              </a>
            {% endif %}
          </div>

          <div class="tlb-hero-image absolute inset-0 h-full w-full z-0">
            {{ elements.content.field_image }}
            <div class="absolute inset-0 bg-neutral-600" style="mix-blend-mode: multiply;"></div>
          </div>
        </div>
      </div>
    {{ title_suffix }}
  {% endblock %}
</div>
