{% set block_classes = [
  'bg-transparent',
  elements['#configuration'].layout_id != 'tlb_three_col_grid' ? (is_editing_layout ? 'mb-12 last:mb-0 mt-0 p-0' : 'mt-12 first:mt-0')
] %}

<div{{ attributes.addClass(block_classes) }}>
  {{ title_prefix }}
  {% block content %}
    <div class="prose mx-auto">
      {{ elements.content.body.0 }}
    </div>
  {% endblock %}
  {{ title_suffix }}
</div>
